//color
$color-black-1: #000000;
$color-black-2: #222222;
$color-white: #ffffff;
$color-white-1: #dddddd;
$color-white-2: #ebebeb;
$color-white-3: #f7f7f7;
$color-white-4: #fff8f6;

//line height
$lh-1: 20px;
$lh-2: 16px;

//font size
$fs-0: 12px;
$fs-1: 14px;
$fs-2: 16px;

//box-shadow
$bs-1: 0 2px 4px rgba(0, 0, 0, 0.18);
$bs-2: 0 1px 2px rgba(0, 0, 0, 0.08), 0 4px 12px rgba(0, 0, 0, 0.05);
$bs-3: 0 6px 20px rgba(0, 0, 0, 0.2);
$bs-4: 0 0 0 1px rgba(0, 0, 0, 0.04), 0 8px 16px rgba(0, 0, 0, 0.15);
